---
import Navigation from './Navigation.astro';
---

<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/blog/">Blog</a></li>
      <Hamburger />
    </ul>
  </nav>
</header>
